{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% if cart %}
            {% for item in cart %}
                  {% with product=item.product %}
                    <div class="shopping-cart">
                  <!-- Title -->
                      <div class="title">
                        {{ product.title }}
                          <a class="float-end text-decoration-none" href="{% url 'cart_remove' product.slug %}">Убрать</a>
                      </div>
                            <div class="item">
                                <div class="image">
                                  <img src="{{ product.image.url }}" alt="" />
                                </div>

                                <div class="description">
                                  <span>

                                  </span>
                                </div>

                                <div class="quantity">
                                    <form action="{% url 'cart_update' product.slug %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                        <input type="hidden" id="product-slug" value="{{ product.slug }}">
                                        <button type="submit" class="btns btn-link p-0 text-info"><i class="fas fa-plus"></i></button>
                                        {{ form.errors }}
                                    </form>
                                    <input type="text" name="name" value="{{ item.quantity }}">
                                    <form action="{% url 'cart_subtract' product.slug %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="update" value="True">
                                        <input type="hidden" name="quantity" value="1">
                                        <button type="submit" class="btns btn-link p-0 text-info"><i class="fas fa-minus"></i></button>
                                    </form>
                                </div>

                                <div class="total-price">₽{{ item.total_price }}</div>
                              </div>
                            </div>
                  {% endwith %}
            {% endfor %}
            <div class="total-costs">
                <p>Сумма к оплате: ₽{{ cart.get_total_price }}</p>
                    <a href="{% url 'order_create' %}" class="float-end btn btn-primary mb-3">Оформить заказ</a>
                    <a href="{% url 'main' %}" class="float-end btn btn-primary">Продолжить шоппинг</a>
            </div>
        {% else %}
            <h2 class="text-center mt-5">Здесь пока ничего нет...</h2>
        {% endif %}
    </div>
</div>
{% endblock %}