<div class="modal" id="user-agreement-modal">
    <div class="modal__box">

        <i id="close-user-agreement-modal" class="modal__close-btn fa-solid fa-xmark fa-2xl"></i>

        <h2>Политика конфиденциальности</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad deserunt ea eius hic, ipsam iure magni nam natus neque
            officiis porro quasi quis ratione repellat reprehenderit
            sed unde veritatis. Adipisci animi consectetur culpa cum,
            cumque dolorem eligendi error esse et fugit ipsum magnam maxime
            minus molestiae nam neque nisi officiis provident, quae
            quasi quisquam rerum sit ullam vel veritatis voluptas voluptatum!
            Adipisci delectus dolor ducimus laudantium omnis possimus quasi q
            ui ratione tempora tenetur, vel voluptate? Atque excepturi
            labore provident repellendus sequi? Adipisci culpa cumque deserunt,
            error excepturi exercitationem libero necessitatibus officiis quae rem
            similique sint sunt! Modi molestiae optio veniam?</p>
    </div>
</div>