<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>first_name: {{ first_name }}</p>
    <p>last_name: {{ last_name }}</p>
    <p>user_email: {{ user_email }}</p>
    <p>address: {{ address }}</p>
    <p>postal_code: {{ postal_code }}</p>
    <p>products: {{ products }}</p>
    <p>total_price: {{ total_price }}₽</p>
</body>
</html>