{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1 class="">Кто мы и что мы?</h1>
            <p class="mt-5">
               <strong>Наша миссия</strong>: Мы - команда,заинтересовынные в улучшении качества вашего здоровья.
                Наша миссия - сделать доступными качественные витамины и пищевые добавки из Турции для всех.
                <strong>Качество превыше всего</strong>: Мы стремимся предоставить вам качественную продукцию.
                Для многих не секрет что витамины из Турции натуральные и проходят строгую проверку.
                <strong>Доступность</strong>: Мы верим, что забота о здоровье должна быть доступной каждому.
                Поэтому мы предлагаем конкурентоспособные цены.Наши услуги: Импорт и продажа добротных витаминов из Турции.
                Возможна доставка по всей России. Свяжитесь с нами Если у вас есть какие-либо вопросы или вам нужна
                дополнительная информация, не стесняйтесь обращаться к нам. Мы всегда готовы помочь вам заботиться о своем здоровье.
               </p>
            <a class="float-end btn btn-outline-dark" href="{% url 'main' %}">Продолжить шоппинг</a>
            <div class="messangers mt-4">
                <a href="https://wa.me/79196281443"><i style="color: #25D366;" class="fa-brands fa-whatsapp fa-2xl"></i></a>
                <a class="ms-3"  href="https://www.instagram.com/i_apaika/?utm_source=qr&igshid=YzU1NGVlODEzOA%3D%3D">
                    <i style="color: rgb(228, 64, 95);" class="fa-brands fa-instagram fa-2xl"></i></a>
            </div>

        </div>
        <div class="col-sm">
            <img class="mt-5 ms-5 about-us-img" src="{% static 'img/02-Vitamins-All-Truth.jpg' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}