{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1 class="">Кто мы и что мы?</h1>
            <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias aliquam cum dolorum eos est, fugiat hic ipsa, labore nostrum porro ratione vero
                vitae voluptate voluptatem voluptates! Aliquam aliquid doloribus dolorum ipsa minus, natus
                nulla omnis, optio quae quas qui quo sint sit! Autem consequatur laboriosam nemo nisi velit.
                Amet aspernatur assumenda blanditiis cupiditate debitis dicta ea incidunt ipsam laboriosam
                libero natus necessitatibus nesciunt nobis odio officia, omnis optio porro quasi quidem quisquam
                quos sed suscipit tempore unde ut vero voluptatum! Aperiam aut debitis distinctio earum enim eos eum,
                illum, in ipsa ipsum iste labore laborum libero maxime minus modi molestiae necessitatibus nobis
                numquam obcaecati possimus quae quia reprehenderit saepe sapiente sequi similique sunt, vel voluptas
                voluptatem! Accusantium aspernatur beatae error esse optio voluptatibus.
                Aspernatur eligendi impedit iusto, mollitia numquam quaerat quasi quod repellendus repudiandae vitae?
                Consectetur corporis deserunt magni maxime quo.
                Dolor et nobis nostrum omnis perferendis quidem recusandae tenetur?
                Autem commodi dolores ex harum minus nesciunt placeat quos ratione soluta veritatis?
               </p>
            <a class="float-end btn btn-outline-dark" href="{% url 'main' %}">Продолжить шоппинг</a>
            <div class="messangers mt-4">
                <a href=""><i style="color: #25D366;" class="fa-brands fa-whatsapp fa-2xl"></i></a>
                <a class="ms-3"  href=""><i style="color: rgb(228, 64, 95);"
                                            class="fa-brands fa-instagram fa-2xl"></i></a>
                <a class="ms-3"  href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
            </div>

        </div>
        <div class="col-sm">
            <img class="mt-5 ms-5 about-us-img" src="{% static 'img/02-Vitamins-All-Truth.jpg' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}