{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row product-main-info mt-3 pt-5 pb-5 ">
        <div class="col-sm-3 img-container">
            <img class="product-detail-img" src="{{ product.image.url }}" alt="">
        </div>
        <div class="col-sm-4 mt-5">
            <h1 class="searched-title">{{ product.title }}</h1>

            <div class="main-information mt-5">
                <p>Осталось:&nbsp;<strong>{{ product.quantity }} шт.</strong></p>
                <p>Производитель:&nbsp;<strong> {{ product.vendor }}</strong></p>
                <p>Форма выпуска:&nbsp;<strong> {{ product.release_form }}</strong></p>
                <p>Возраст от:&nbsp;<strong> {{ product.age }}+</strong></p>
                <p>Страна выпуска:&nbsp;<strong> {{ product.country }}</strong></p>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="price mt-5">
                {% if product.old_price %}
                    <p>Цена:</p>
                    <p><s>{{ product.old_price }} ₽</s></p>
                    <strong>{{ product.price }} ₽</strong>
                {% else %}
                    <strong>{{ product.price }} ₽</strong>
                {% endif %}
                <hr>
                <div class="mt-3 d-grid gap-2">
                    <form action="{% url 'cart_add' product.slug %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form.update }}
                        <div>{{ cart_product_form.quantity }}</div>
                        <div class="mt-3 d-grid gap-2">
                            <button class="btn btn-success">Добавить в корзину</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row product-main-info  pt-5 pb-5 mt-5 ">
        <div class="col-sm">
            <button id="descr-btn" class="btn btn-outline-dark ms-2">Описание</button>
            <button id="specifications-btn" class="btn btn-outline-dark ms-2 me-2">Состав</button>
            <button id="comments-btn" class="btn btn-outline-dark">Комментарии</button>
            <div id="descr-block" class="product-descr mt-5 ms-5">
                <p>{{ product.description }}</p>
            </div>
            <div id="struc-block" class="product-struc mt-5 ms-5" style="display: none;">
                <h3>Состав:</h3>
                <div><p>{{ product.specifications|linebreaks }}</p></div>
            </div>
            <div id="comments-block" class="product-comments mt-5 ms-5 infinite-container" style="display: none;">
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'add_comment' product.slug %}">Добавить коммнетарий</a>
                {% else %}
                Пожалуйста <a href="{% url 'account_login'%}">войдите</a> чтобы добавить комментарий...
                {% endif %}
                <div class="product-rating mt-5">
                    {% if avg_rating.rating %}
                    <h5>Средний балл: {{ avg_rating.rating|floatformat }} из 5.0</h5>
                    {% else %}
                    <h5>Средний балл: 0 из 5.0, так как оценок еще нет</h5>
                    {% endif %}

                </div>
                <div class="pb-5 infinite-item">
                    {% for comment in comments %}

                    <div class="">
                      <div class="comment-header mt-4 mb-3">commentator · <strong style="color: #000000;">{{ comment.commentator }}</strong> | date · <strong style="color: #000000;">{{ comment.dateCreation}} {{ comment.get_rating_display }}</strong></div>
                      <p class="">{{ comment.body }}</p>
                    </div>


                    {% endfor %}
                    <div class="col-12">
                        {% if comments.has_next %}
                        <a class="infinite-more-link" href="?page={{ comments.next_page_number }}"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}