{% extends 'base.html' %}

{% block title %}Поиск{% endblock %}

{% block content %}
<div class="container">
    {% if products %}
    <div class="row mt-5 infinite-container">
        {% for product in products %}
        <div class="col-sm-2 mb-3 infinite-item">
            <div class="searched-product-img">
                <a href="{{ product.get_absolute_url }}"><img class="searched-img" src="{{ product.image.url }}" alt=""></a>
            </div>
        </div>
        <div class="col-sm-7 infinite-item">
            <h3 class="searched-title mt-4">{{ product.title }}</h3>
            <div class="main-information mt-3">
                {% if product.is_available %}
                <p>Статус:&nbsp;<strong>В наличии</strong></p>
                {% else %}
                <p>Статус:&nbsp;<strong>Нет наличии</strong></p>
                {% endif %}
                <p>Производитель:&nbsp;<strong> {{ product.vendor }}</strong></p>
                <p>Форма выпуска::&nbsp;<strong> {{ product.release_form }}</strong></p>
                <p>Возраст от:&nbsp;<strong> {{ product.age }}+</strong></p>
            </div>
        </div>
        <div class="col-sm-2 infinite-item">
            <div class="price mt-5">
                {% if product.old_price %}

                    <p><s>{{ product.old_price }} ₽</s></p>
                    <strong>{{ product.price }} ₽  &nbsp; - {{ product.get_percentage|floatformat:"0"  }} % </strong>
                {% else %}
                    <strong>{{ product.price }} ₽</strong>
                {% endif %}
                <hr>
                {% if product.is_available %}
                    <form action="{% url 'cart_add' product.slug %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form.update }}
                        <div style="display: none;">{{ cart_product_form.quantity }}</div>
                        <div class="mt-3 d-grid gap-2">
                            <button class="btn btn-success">Добавить в корзину</button>
                        </div>
                    </form>
                {% else %}
                <div class="mt-3 d-grid gap-2">
                    <button disabled class="btn btn-success">Добавить в корзину</button>
                </div>
                {% endif %}
            </div>
        </div>
        <hr class="searched-hr">
            {% endfor %}
    </div>
        <div class="row">
        <div class="col-12">
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?{{ search_params }}&page={{ page_obj.next_page_number }}"></a>
            {% endif %}
        </div>
    </div>
    {% else %}
    <h1 class="text-center mt-5">Витаминов по вашему запросу не найдено...</h1>
    {% endif %}
</div>

{% endblock %}